@model DaftarMVC.Models.User.User

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    @* <link rel="stylesheet" href="framework.css" /> *@
    <link rel="stylesheet" href="css/font.css"/>
    <link rel="stylesheet" href="css/register.css"/>
    <link rel="preconnect" href="https://fontsA.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    @* <link rel="shortcur icon" href="image/icon1.jfif" /> *@
    <link
        href="https://fonts.googleapis.com/css2?family=Cairo&family=Roboto&display=swap"
        rel="stylesheet"/>
    <script
        src="https://kit.fontawesome.com/87603dad33.js"
        crossorigin="anonymous"></script>
    <title>Register</title>
</head>
<body>
<div class="page">
    <div class="logo">
        <a href="Intro">
            @* <img src="assets/daftar.svg" alt="logo"/> *@
           @* <object data="assets/daftar.svg" type="image/svg+xml"/> *@
        </a>
    </div>
    <div class="box">
        <div class="register-right">
            <div class="register-wrapper">
                <h1>Register</h1>
            </div>

            @using (Html.BeginForm())
            {
                <form method="post">
                    <div class="inputs-wrapper">
                        
                        <div class="userName icon-text-wrapper">
                            <span>
                                <i class="fa-solid fa-user"></i>
                            </span>
                            <input type="text" autofocus placeholder="First Name" name="firstName"/>
                        </div>

                        
                        <div class="userName icon-text-wrapper">
                            <span>
                                <i class="fa-solid fa-user"></i>
                            </span>
                            <input type="text" autofocus placeholder="Last Name" name="lastName"/>
                        </div>
                        
                        @* <div class="userName icon-text-wrapper"> *@
                        @*     <span> *@
                        @*         <i class="fa-solid fa-user"></i> *@
                        @*     </span> *@
                        @*     <input type="text" autofocus placeholder="AvatarLink" name="avatarlink"/> *@
                        @* </div> *@
                        
                        
                        <div class="userName icon-text-wrapper">
                            <span>
                                <i class="fa-solid fa-user"></i>
                            </span>
                            <input type="text" autofocus placeholder="PhoneNumber" name="phonenumber"/>
                        </div>
                        

                        <div class="userName icon-text-wrapper">
                            <span>
                                <i class="fa-solid fa-user"></i>
                            </span>
                            <input type="text" autofocus placeholder="Username" name="username"/>
                        </div>
                        
                        <div class="userEmail icon-text-wrapper">
                            <span>
                                <i class="fa-solid fa-envelope"></i>
                            </span>
                            <input type="email" autofocus placeholder="mo@example.com" name="email"/>
                        </div>
                        
                        <div class="userPassword icon-text-wrapper">
                            <span>
                                <i class="fa-solid fa-lock"></i>
                            </span>
                            <input type="password" placeholder="Password" name="password"/>
                        </div>
                        
                        <div class="userPassword icon-text-wrapper">
                            <i class="fa-solid fa-lock"></i>
                            <input type="password" name="ConfirmPassword" placeholder="Confirm Password"/>
                        </div>
                        
                        <div class="userGrade icon-text-wrapper">
                            <span>
                                <i class="fa-solid fa-graduation-cap"></i>
                            </span>
                            <select name="level">
                                <option value="" disabled selected>Choose your grade</option>
                                <option value="one">One</option>
                                <option value="two">Two</option>
                                <option value="three">Three</option>
                            </select>
                        </div>
                        
                        
                        <div class="userName icon-text-wrapper">
                            <span>
                                <i class="fa-solid fa-user"></i>
                            </span>
                            <input class="form-control .birthdate" autofocus placeholder="BirthDate" name="birthDate" asp-for="BirthDate"/>
                        </div>
                        
                    </div>
                    <div class="register-sign-in-wrapper">
                        <button class="" type="submit" >Register</button>
                        <div class="sign-in">
                            <span>
                                Already have an account?
                                <span class="login">
                                    <a href="Login" class="sign">Login</a>
                                </span>
                            </span>
                        </div>
                    </div>
                </form>
            }

        </div>
        <div class="register-left">
            <div>
                <img src="assets/Images/background3.png" alt="background"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>