@model User

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Cairo&family=Roboto&display=swap"
          rel="stylesheet" />
    <script src="https://kit.fontawesome.com/87603dad33.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/Css/user.css" />
    <link rel="shortcut icon" href="~/Image/Icon-Taps.jpg" />
    <title>Daftar</title>
</head>
<body>

    @Html.Partial("NavBar", Model)
    <section>
        <div class="main_video_container">
            <video class="main_video"
                   loop
                   controls
                   src=""></video>
        </div>
        <div class="video_list_cointainer">
            <div class="list active" id="~/Image/vd1zero.mp4">
                <video class="list_video"
                       loop
                       controls
                       src="~/Image/vd1zero.mp4"></video>
                <h3 class="list_title">
                    1
                </h3>
            </div>

            <div class="list" id="~/Image/vd3Asmar.mp4">
                <video class="list_video"
                       loop
                       controls
                       src="~/Image/vd3Asmar.mp4"></video>
                <h3 class="list_title">
                    2
                </h3>
            </div>

            <div class="list" id="~/Image/vd2reda.mp4">
                <video class="list_video"
                       loop
                       controls
                       src="~/Image/vd2reda.mp4"></video>
                <h3 class="list_title">
                    3
                </h3>
            </div>
            <div class="list" id="~/Image/vd4memes.mp4">
                <video class="list_video"
                       loop
                       controls
                       src="~/Image/vd4memes.mp4"></video>
                <h3 class="list_title">
                    4
                </h3>
            </div>

            <div class="list" id="~/Image/vd3Asmar.mp4">
                <video class="list_video"
                       loop
                       controls
                       src="~/Image/vd3Asmar.mp4"></video>
                <h3 class="list_title">
                    5
                </h3>
            </div>

            <div class="list" id="~/Image/vd2reda.mp4">
                <video class="list_video"
                       loop
                       controls
                       src="~/Image/vd2reda.mp4"></video>
                <h3 class="list_title">
                    6
                </h3>
            </div>
            <div class="list" id="~/Image/vd1zero.mp4">
                <video class="list_video"
                       loop
                       controls
                       src="~/Image/vd1zero.mp4"></video>
                <h3 class="list_title">
                    7
                </h3>
            </div>

            <div class="list" id="~/Image/vd3Asmar.mp4">
                <video class="list_video"
                       loop
                       controls
                       src="~/Image/vd3Asmar.mp4"></video>
                <h3 class="list_title">
                    8
                </h3>
            </div>

            <div class="list" id="~/Image/vd2reda.mp4">
                <video class="list_video"
                       loop
                       controls
                       src="~/Image/vd2reda.mp4"></video>
                <h3 class="list_title">
                    9
                </h3>
            </div>

        </div>
    </section>

    <div class="popup-box">
        <div class="popup">
            <div class="content">
                <header>
                    <p></p>
                    <i class="uil uil-times"></i>
                </header>
                <form action="#">
                    <div class="row title">
                        <label>Title</label>
                        <input type="text" spellcheck="false">
                    </div>
                    <div class="row description">
                        <label>Description</label>
                        <textarea spellcheck="false"></textarea>
                    </div>
                    <button></button>
                </form>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <li class="add-box">
            <div class="icon"></div>
            <p>Add new note</p>
        </li>
    </div>
    @Html.Partial("Footer")
</body>
<script src="~/JS/Teachers.js"></script>
</html>


