@model DaftarMVC.Models.User;

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    @* <link rel="stylesheet" href="framework.css" /> *@
    <link rel="stylesheet" href="css/font.css"/>
    <link rel="stylesheet" href="css/login.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
        href="https://fonts.googleapis.com/css2?family=Cairo&family=Roboto&display=swap"
        rel="stylesheet"/>
    <script
        src="https://kit.fontawesome.com/87603dad33.js"
        crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="image/icon1.jfif"/>
    <title>Login</title>
</head>
<body>
<div class="page">
    <div class="logo">
        <a href="/">
            <img src="assets/daftar.svg" alt="logo"/>
        </a>
    </div>

    <div class="box">
        <div class="login-right">
            <div class="inputs">
                <h2>Login</h2>
                
                @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                {
                <div class="userName">
                    <span>
                        <i class="fa-solid fa-user"></i>
                    </span>
                    <input type="email" autofocus placeholder="mo@example.com" name="email"/>
                </div>
                
                <div class="userPassword">
                    <span>
                        <i class="fa-solid fa-lock"></i>
                    </span>
                    <input type="password" placeholder="Password" name="password"/>
                </div>
                <div class="links">
                    <div class="checkbox">
                        <input id="rem" value="Remeber me" type="checkbox"/>
                        <label for="rem" class="re">Remeber me</label>
                    </div>
                    <a href="Login">
                        <span class="forget">Forget Password?</span>
                    </a>
                </div>
                    <div class="buttons">
                        <button type="submit">
                            Log in
                        </button>
                        <div class="signup">
                            <a href="Register">
                                <span>
                                    Not Regesited?
                                    <span class="sgin">
                                        Sign Up
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
            }
            </div>
        </div>
        <div class="login-left">
            <div>
                <img src="assets/Images/background3.png"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>