<link rel="stylesheet" href="css/footer.css"/>

@{
    ViewBag.Title = "Footer";
}

@* <link rel="stylesheet" href="css/footer.css"/> *@

<footer>
    <div class="logo-footer">
        <div class="icon-daftar">
            <img src="~/Image/daftar.svg" alt="logo"/>
        </div>
    </div>
    <div class="location">
        <div>
            <h1>Nasr City ,Cairo<br/>Egypt</h1>
        </div>
        <div class="footer-email">
            <a href="#"><i class="fa-regular fa-envelope"></i>contact@daftar.com</a>
        </div>
        <div>(111) 111-1111</div>
    </div>
    <div class="links_one">
        <ul class="links_one_items">
            <li>
                <a href="/Pages/Loading">About</a>
            </li>
            <li>
                <a href="/Pages/Loading">Developers</a>
            </li>
            <li>
                <a href="/Pages/Loading">Courses</a>
            </li>
            <li>
                <a href="/Pages/Loading">Partners</a>
            </li>
        </ul>
        <p>&copy;2023 Daftar Platform. All rights reserved.</p>
    </div>
    <div class="links_two">
        <ul class="links_two_items">
            <li>
                <a href="/Pages/Loading">Facebook</a>
            </li>
            <li>
                <a href="/Pages/Loading">Twitter</a>
            </li>
            <li>
                <a href="/Pages/Loading">Instgram</a>
            </li>
            <li>
                <a href="/Pages/Loading">Gmail</a>
            </li>
            <li>
                <a href="/Pages/Loading">Who we are?</a>
            </li>
        </ul>
    </div>
</footer>