<link rel="stylesheet" href="css/header.css"/>

<div class="header-background header-down">
    <!-- Title Left -->
    <div class="header-text">
        <h1 class="header-title">Discover the Best Teachers and Learn</h1>
        <p class="header-paragraph">Embark on a transformative learning journey with our curated team of exceptional educators. Explore new subjects, enhance your skills, and prepare for exams with a wide range of courses. Join us today to unlock your full potential.</p>
        <div class="sec-btn-wrapper">
            <button class="sec-btn">Watch Demo Video</button>
        </div>
    </div>
    <!-- Image Right -->
    <div class="image-wrapper">
    </div>
</div>