@* @inject Microsoft.AspNetCore.Http.HttpContextAccessor NewContext *@

@{
    ViewBag.Title = "NavBar";
    Layout = null;
    // var cookieValue = NewContext.HttpContext?.Request.Cookies["FullName"];
    var fullName = Context.Session.GetString("FullName");
}

<link rel="stylesheet" href="css/framework.css" />
<nav>
    <div class="logo">
        <a href="/">
            <img src="~/Image/daftar.svg" alt="logo" />
        </a>
    </div>
    <div class="nav_pages">
        <ul class="nav_links">
            <li class="link" id="here">
                <a class="go" href="/">Home</a>
            </li>
            <span style="color:white;">l</span>
            <li class="link "><a class="go" href="/Bundles">Bundles</a></li>
            <span style="color:white;">l</span>
            <li class="link "><a class="go" href="/Teacher">Teacher</a></li>
            <span style="color:white;">l</span>
            <li class="link "><a class="go" href="/Chat">Chat</a></li>
            <span style="color:white;">l</span>
            <li class="link "><a class="go" href="/Student">My Profile</a></li>
        </ul>
    </div>
    <div class="username">
        <span>
            <i class="fa-regular fa-user"></i>Hello, @fullName<label></label>
            @* <i class="fa-regular fa-user"></i>Hello, @(new HttpContextAccessor().HttpContext.Request.Cookies["Full Name"])<label></label> *@
        </span>
        <a href="/logout"><button class="button">Log Out</button></a>
    </div>
</nav>

