<link rel="stylesheet" href="css/navbar.css"/>

@{
    var fullName = Context.Session.GetString("FullName");
}

<nav class="navbar">
    <div class="logo">
        <a href="/">
            <img src="~/Image/daftar.svg" alt="logo"/>
        </a>
    </div>
    <div class="nav-links-container">
        <ul class="nav-links">
            <a href="/">
                <li class="nav-link-item">
                    About
                </li>
            </a>
            <span class="separator">|</span>
            <a href="/bundle">
                <li class="nav-link-item">
                    Bundles
                </li>
            </a>
            <span class="separator">|</span>
            <a asp-action="Index" asp-controller="Teachers">
                <li class="nav-link-item">
                    Teachers
                </li>
            </a>
            <span class="separator">|</span>
            <a href="/chat">
                <li class="nav-link-item">
                    Chat
                </li>
            </a>
            <span class="separator">|</span>
            <a href="/video">
                <li class="nav-link-item">
                    Video
                </li>
            </a>
        </ul>
        @if (fullName is null)
        {
            <button class="navbar-item nav-btn primary-btn">
                @* <a asp-action="Register" asp-controller="Account" style="color: black;">Join Us</a> *@
                <a href="/register" style="color: black;">Join Us</a>
            </button>
        }
        else
        {
            <div class="username">
                <span>
                    <i class="fa-regular fa-user"></i>Hello, @fullName<label></label>
                </span>
                <a href="/logout">
                    <button class="button">Log Out</button>
                </a>
            </div>
        }
    </div>
</nav>