<nav class="navbar">
    <div class="logo">
        <a href="/Intro-Page/intro.html">
            <img src="~/Image/daftar.svg" alt="logo" />
        </a>
    </div>
   <div class="nav-links-container">
                  <ul class="nav-links">
                      <a href="#"><li class="nav-link-item">About</li></a>
                      <span class="separator">|</span>
                      <a href="#"><li class="nav-link-item">Bundles</li></a>
                      <span class="separator">|</span>
                      <a href="#"><li class="nav-link-item">Teachers</li></a>
                      <span class="separator">|</span>
                      <a href="#"><li class="nav-link-item">Chat</li></a>
                      <span class="separator">|</span>
                      <a href="#"><li class="nav-link-item">My Profile</li></a>
                  </ul>
       <button class="navbar-item nav-btn primary-btn">Join Us</button>
       </div> 
</nav>


