<section class="intro-section">
    <div class="text-wrapper">
        <div class="titles">
              <h1 class="title">Welcome to Daftar Plaform</h1>
                    <h5 class="sub-title">
                        Technology will not replace great-teachers but technology in the hands of great teachers can be transformational
                    </h5>
        </div> 
        <p class="para">
            Daftar is e-learning website is a platform that provides an online learning experience to students or learners of various age groups. E-learning websites use digital technology to deliver educational content, including videos, quizzes, assignments, and other interactive resources that enable learners to acquire knowledge and skills
        </p>
    </div>
    <div class="image-wrapper">
    </div>
</section>