@{
    ViewBag.Title = "Into";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    @* <link rel="stylesheet" href="~/css/font.css" /> *@
    @* <link rel="stylesheet" href="~/css/test.css"> *@
    @* <link rel="stylesheet" href="~/css/intro-mo.css"/> *@
    @* <link rel="stylesheet" href="~/css/framework.css" /> *@
    @* <link rel="stylesheet" href="~/css/navbar.css"/> *@
    @* <link rel="stylesheet" href="~/css/header.css"/> *@
    @* <link rel="stylesheet" href="~/css/platformIntroSection.css"/> *@
    @* <link rel="stylesheet" href="~/css/about-developers.css"/> *@
    @* <link rel="stylesheet" href="~/css/footer.css"/> *@
    @* <link rel="stylesheet" href="~/css/Reviews.css"/> *@
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Cairo&family=Roboto&display=swap"
          rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/87603dad33.js"
            crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="~/Image/Icon-Taps.jpg"/>
    <title>Daftar</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    
</head>

<body>
<header>
    @await Html.PartialAsync("NavBar2")
    @await Html.PartialAsync("HomeHeader")
</header>

<main>
    @await Html.PartialAsync("PlatformIntroSection")
    @await Html.PartialAsync("AboutDevelopersSection")
</main>
@await Html.PartialAsync("Footer")
</body>
</html>