@* @model TModel *@
<link rel="stylesheet" href="css/framework.css"/>

<nav>
    <div class="logo">
        <a href="DashBoard/Index/" alt="logo">
            <img src="Image/daftar.svg"/>
        </a>
    </div>
    <div class="nav_pages">
        <ul class="nav_links">
            <li class="link" id="here">
                <a class="go" href="DashBoard/Users">Users</a>
            </li>
            <span style="color:white;">l</span>
            <li class="link ">
                <a class="go" href="DashBoard/Teachers">Teachers</a>
            </li>
            <span style="color:white;">l</span>
            <li class="link ">
                <a class="go" href="DashBoard/Statistics">Statistics</a>
            </li>
            <span style="color:white;">l</span>
            <li class="link ">
                <a class="go" href="DashBoard/Chats">Chats</a>
            </li>
        </ul>

    </div>
</nav>