
@model List<Cart>
@{
    ViewBag.Title = "Cart";
    Layout = "_LayoutDaftar";
}

<div style="margin: 70px;padding: 90px">
    <h1>Cart</h1>
    @foreach (var item in Model)
    {
        <div>
            <img src="@Url.Content(@item.image)" width="200" height="200"/>
            <h2>@item.name</h2>
            <h2>@item.price</h2>
            <button>
                <a href="Cart/RemoveTeacher/"> Remove From Cart`</a>
            </button>
        </div>
    }
</div>