@model List<Teacher>

@{
    ViewBag.Title = "Teachers";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Cairo&family=Roboto&display=swap"
          rel="stylesheet" />
    <script src="https://kit.fontawesome.com/87603dad33.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/teacher.css" />
    <link rel="shortcut icon" href="~/Image/Icon-Taps.jpg" />
    <title>Daftar</title>
</head>

<body>
@* @Html.Partial("NavBar"); *@
<div style="padding: 200px; margin: 200px">
@using (Html.BeginForm())
{
@foreach (var item in Model)
{
    <div>
        <img src="@Url.Content(item.AvatarLink)" width="200" height="200"/>
        <h2>@String.Concat(item.FirstName + " " + item.LastName)</h2>
        <h2>Monthally Subscription @item.MonthlyPrice</h2>
        <button type="submit" >
            <a href="Cart/AddTeacher"> Add To Cart </a>
        </button>
    </div>
}
}
</div>



@await Html.PartialAsync("Footer")
</body>
<script src="js/teacher.js"></script>
</html>

